/* init - custom yourviews slider */

#yv-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

#yv-container * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

#yv-view {
  overflow: hidden;
  position: relative;
  height: auto;
  z-index: 2;
  cursor: grab;
}

#yv-view.grabbing {
  cursor: grabbing;
}

#yv-wrapper {
  top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
  z-index: 1;
}

#yv-wrapper.shifting {
  transition: left .3s ease-out;
}

.control.prev.hide,
.control.next.hide {
  visibility: hidden;
}

.control.prev,
.control.next {
  outline: none;
  cursor: pointer;
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: url('https://yv-misc.s3.amazonaws.com/customers/yv/arrow_alt.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 90%;
  background-color: transparent;
  z-index: 3;
}

.control.next {
  transform: rotate(180deg);
}

.control.prev:active {
  transform: scale(.9);
}

.control.next:active {
    transform: rotate(180deg) scale(.9);
}

.next:active { transform: rotate(180deg); }

.paging {
  position: absolute;
  top: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 25px 0 0;
  background: transparent;
  z-index: 3;
}

.paging .index {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border: none;
  border-radius: 50%;
  filter: opacity(.35);
  outline: none;
  cursor: pointer;
}

.paging .index.active {
  filter: opacity(1);
}

.yv-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 280px;
  width: 280px;
  height: auto;
  margin: 0 5px;
  transition: all 1s;
}

.paging .index {
  background-color: #E2AA52;
}

.yv-slide .yv-rating-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.yv-slide .yv-rating-content .yv-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  padding: 10px;
}

.yv-slide .yv-rating-content .yv-rating .yv-star {
  font-size: 14px;
  color: #ffad32;
  padding: 2px;
}

.yv-slide .yv-rating-content .yv-rating-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: auto;
  padding: 10px;
  font-size: 12px;
}

.yv-slide .yv-rating-content .yv-rating-comment {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;
   height: auto;
   padding: 10px;
}

.yv-slide .yv-rating-content .yv-rating-comment .yv-paragraph {
  display: block;
  width: 100%;
  min-height: 60px;
  font-size: 14px;
  text-align: justify;
}

.yv-slide .yv-rating-content .yv-ratings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 5px;
}

.yv-slide .yv-rating-content .yv-ratings .yv-purchase-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 5px 0 0;
}

.yv-slide .yv-rating-content .yv-ratings .yv-purchase-rating .fa-shopping-cart,
.yv-slide .yv-rating-content .yv-ratings .yv-purchase-rating .fa-truck,
.yv-slide .yv-rating-content .yv-ratings .yv-purchase-rating .fa-support {
  margin-right: 5px;
}

.yv-slide .yv-rating-content .yv-ratings .yv-purchase-rating .yv-star {
  font-size: 11px;
  color: #ffad32;
  padding: 1px;
}

.yv-slide .yv-rating-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.yv-slide .yv-rating-user .yv-user-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 10px;
}

.yv-slide .yv-rating-user .yv-user-image .yv-profile-img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.yv-slide .yv-rating-user .yv-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    padding: 10px;
}

.yv-slide .yv-rating-user .yv-user-info .yv-user-name {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  text-align: left;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.yv-slide .yv-rating-user .yv-user-info .yv-user-local {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
  text-transform: capitalize;
  font-size: 14px;
  color: #000;
}

/* stop - custom yourviews slider */